<li class="service" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
    <div class="image-container">
        <img src={{ img }} alt={{ title }}>
    </div>
    <div class="title">
        <span></span>
        <span></span>
        <span></span>
        <h3>{{ title }}</h3>
    </div>
    <div class="price">
        {{ price }}
    </div>
</li>
