{{#> ../../components/layout/layout
        title="РДК - Региональная дезинфекционная компания"
        keywords="рдк, ркдвосток, rdk, rdkvostok, дезинфекция, заказать дезинфекцию"
        description="Круглосуточные услуги дезинфекции. Качественные и безопасные для человека препараты. Лицензии, гарантии, награды."
}}


    <div id="submit-success">
        <div class="submit-success__backdrop"></div>
        <div class="submit-success__modal">
            <div class="submit-success__modal-image">{{> ../../components/icons/like}}</div>
            <h3>Заявка успешно отправлена!</h3>
        </div>
    </div>

    <section id="main">
        <div class="background"></div>

        {{> ../../components/header/header}}

        <div class="container">
            <h1>Устранение <br/> любых вредителей</h1>

            <div class="lines">
                <span></span>
                <span></span>
            </div>

            <ul class="main__advantages-list">
                <li>Опыт успешной работы - свыше 10-ти лет</li>
                <li>Гарантия 6 месяцев, лицензии и сертификаты качества</li>
                <li>Работаем круглосуточно - 24/7</li>
                <li>Лучшие препараты на всём Дальнем Востоке, безопасные для человека</li>
                <li>Работаем даже с самыми запущенными случаями</li>
                <li>Низкие цены, скидки физ. и юр. лицам</li>
            </ul>

            <div class="main__actions" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <a href="#submit" class="btn btn-primary">Вызвать бригаду</a>
                <a href="#services" class="btn">Услуги и цены</a>
            </div>
        </div>
    </section>

    <section id="services">


        <div class="services__decoration">
            <div class="services__decoration_top">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="services__decoration_bottom">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="services__content">

            <div class="container">
                <div class="section-center-header" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <div class="back-decor">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header">
                        <div class="front-decor">
                            <span></span>
                            <span></span>
                        </div>
                        <h2>Услуги и цены</h2>
                    </div>
                </div>

                <p class="services__note" data-aos="fade-up" data-aos-anchor-placement="center-bottom">Мы не скрываем
                    стоимость услуг, ведь наши цены заинтересуют каждого.
                    <br>Мы также предоставляем скидки пенсионерам, инвалидам и при больших заказах.
                </p>

                <div class="services__link services__link_top" data-aos="fade-up"
                     data-aos-anchor-placement="center-bottom">
                    <a href="./downloads/rdk-pricelist.pdf" target="_blank" download>Полный прайс лист</a>
                </div>

                <ul class="services__list">
                    {{#> ../../components/service/service
                            title="Уничтожение тараканов"
                            img="./images/services/tarakan.jpg"
                            price="от 899 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение крыс и мышей"
                            img="./images/services/rat.jpeg"
                            price="от 1000 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение клещей"
                            img="./images/services/klesch.jpg"
                            price="от 899 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение мух"
                            img="./images/services/mukha.jpg"
                            price="от 899 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение комаров и мошки"
                            img="./images/services/komar.jpg"
                            price="от 899 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение ос и шершней"
                            img="./images/services/osa.jpg"
                            price="от 3800 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение клопов"
                            img="./images/services/klop.jpg"
                            price="от 899 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение блох"
                            img="./images/services/bloha.jpg"
                            price="от 899 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение мокриц"
                            img="./images/services/mokritsa.jpg"
                            price="от 899 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение муравьёв"
                            img="./images/services/muravei.jpg"
                            price="от 899 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Уничтожение плесени и грибка"
                            img="./images/services/plesen.jpg"
                            price="от 1800 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Дезодорация"
                            img="./images/services/dezodorat.jpg"
                            price="от 1800 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Дезинфекция"
                            img="./images/services/dezinsikcia.jpg"
                            price="от 1800 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Дезинфекция вентиляции"
                            img="./images/services/ventilation.jpg"
                            price="от 110 руб. за м²"
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Дезинфекция от COVID"
                            img="./images/services/covid.jpg"
                            price="от 990 руб."
                    }}{{/../../components/service/service}}

                    {{#> ../../components/service/service
                            title="Гербицидная обработка"
                            img="./images/services/herbicide.jpg"
                            price="от 3000 руб."
                    }}{{/../../components/service/service}}

                </ul>

                <div class="services__link services__link_bottom" data-aos="fade-up"
                     data-aos-anchor-placement="center-bottom">
                    <a href="./downloads/rdk-pricelist.pdf" target="_blank" download>Полный прайс лист</a>
                </div>

                <div class="services__actions" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="#submit" class="btn btn-primary">Оставить заявку</a>
                </div>
            </div>
        </div>
    </section>

    <section id="about">

        <div class="about__decoration">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="about__content">

            <div class="container">

                <div class="about__logo-top" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <img src="./icons/logo-grey.svg" alt="РДК - ВОСТОК">
                </div>

                <div class="section-center-header" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <div class="back-decor">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header">
                        <div class="front-decor">
                            <span></span>
                            <span></span>
                        </div>
                        <h2>О компании</h2>
                    </div>
                </div>

                <p class="about__note" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    Мы - <strong>«Региональная Дезинфекционная Компания — Восток»</strong>, ведём свою деятельность на
                    территории Дальневосточного Федерального округа свыше 10-ти лет.
                    <br><br>
                    Мы производим работы по дератизации, дезинсекции, дезинфекции и предоставлению лабораторных
                    исследований
                    после дезинфекции транспорта, зданий и сооружений.
                </p>

                <div class="about__video-container">
                    <div class="about__video-decoration_top" data-aos="fade-up"
                         data-aos-anchor-placement="center-bottom">
                        <img src="./icons/logo-like-decoration-1.svg" alt="">
                    </div>
                    <div class="about__video" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                        <iframe src="https://www.youtube.com/embed/v_RK9nYV95g" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="about__video-decoration_bottom" data-aos="fade-up"
                         data-aos-anchor-placement="center-bottom">
                        <img src="./icons/logo-like-decoration-2.svg" alt="">
                    </div>

                    <div class="about__video-link" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                        <a target="_blank" href="https://www.youtube.com/channel/UCXcMtAj-prlzCF6MmdjzsrA">Смотреть
                            другие
                            видео</a>
                    </div>
                </div>

                <div class="about__advantages-list">
                    <ul>
                        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">Сотрудники нашей компании -
                            квалифицированные специалисты с опытом работы в сфере
                            дезинфекционной деятельности, более 10 лет
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">Все специалисты компании прошли
                            профессиональную подготовку по дезинфектологии
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">Компания имеет Лицензию по
                            дезинфектологии ЛО-25-01-004787
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">В компании имеются офисные и
                            складские помещения соответствующие требованиям, предъявляемым
                            к
                            дезинфекционной деятельности
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">Мы закупаем и применяем
                            препараты самых передовых производителей и поставщиков
                            дезинфекционных
                            средств
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">Мы работаем индивидуально с
                            каждым клиентом, учитывая все пожелания во время проведения
                            работ и
                            после
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">Постоянно поддерживаем обратную
                            связь, что позволяет оперативно реагировать и поддерживать
                            качество на высоком уровне
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">Наш профессионализм позволяет
                            справляться даже с самыми запущенными случаями
                        </li>
                    </ul>
                </div>

                <div class="about__actions" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="#submit" class="btn btn-primary">Оставить заявку</a>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery">
        <div class="section-left-header">
            <div class="back-decor">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header">
                <div class="front-decor">
                    <span></span>
                    <span></span>
                </div>
                <h2>Галерея</h2>
            </div>
        </div>

        <div class="gallery__list">
            <a class="glightbox1"
               data-gallery="gallery1" href="images/gallery/1.jpg">
                <div style="background-image: url('images/gallery/1-thumb.jpg')"></div>
            </a>
            <a class="glightbox1"
               data-gallery="gallery1" href="images/gallery/2.jpg">
                <div style="background-image: url('images/gallery/2-thumb.jpg')"></div>
            </a>
            <a class="glightbox1"
               data-gallery="gallery1" href="images/gallery/3.jpg">
                <div style="background-image: url('images/gallery/3-thumb.jpg')"></div>
            </a>
            <a class="glightbox1"
               data-gallery="gallery1" href="images/gallery/4.jpg">
                <div style="background-image: url('images/gallery/4-thumb.jpg')"></div>
            </a>
            <a class="glightbox1"
               data-gallery="gallery1" href="images/gallery/5.jpg">
                <div style="background-image: url('images/gallery/5-thumb.jpg')"></div>
            </a>
            <a class="glightbox1"
               data-gallery="gallery1" href="images/gallery/1.jpg">
                <div style="background-image: url('images/gallery/6-thumb.jpg')"></div>
            </a>
            <a class="glightbox1"
               data-gallery="gallery1" href="images/gallery/7.jpg">
                <div style="background-image: url('images/gallery/7-thumb.jpg')"></div>
            </a>
            <a class="glightbox1"
               data-gallery="gallery1" href="images/gallery/8.jpg">
                <div style="background-image: url('images/gallery/8-thumb.jpg')"></div>
            </a>
        </div>
    </section>

    <section id="certificates">
        <div class="section-left-header">
            <div class="back-decor">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header">
                <div class="front-decor">
                    <span></span>
                    <span></span>
                </div>
                <h2>Лицензии и награды</h2>
            </div>
        </div>

        <div class="container">
            <div class="section-content">
                <div class="section-certificates__list">
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/8.jpg">
                        <img src="./images/certificates/8-thumb.jpg" alt="Лицензии и награды 8">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/9.jpg">
                        <img src="./images/certificates/9-thumb.jpg" alt="Лицензии и награды 9">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/10.jpg">
                        <img src="./images/certificates/10-thumb.jpg" alt="Лицензии и награды 10">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/11.jpg">
                        <img src="./images/certificates/11-thumb.jpg" alt="Лицензии и награды 11">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/12.jpg">
                        <img src="./images/certificates/12-thumb.jpg" alt="Лицензии и награды 12">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/7.jpg">
                        <img src="./images/certificates/7-thumb.jpg" alt="Лицензии и награды 7">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/13.jpg">
                        <img src="./images/certificates/13-thumb.jpg" alt="Лицензии и награды 13">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/14.jpg">
                        <img src="./images/certificates/14-thumb.jpg" alt="Лицензии и награды 14">
                    </a>

                    <!-- Хабаровск-->
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/19.jpg">
                        <img src="./images/certificates/19-thumb.jpg" alt="Лицензии и награды 19">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/20.jpg">
                        <img src="./images/certificates/20-thumb.jpg" alt="Лицензии и награды 20">
                    </a>

                    <!-- Южно-Сахалинск-->
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/15.jpg">
                        <img src="./images/certificates/15-thumb.jpg" alt="Лицензии и награды 15">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/16.jpg">
                        <img src="./images/certificates/16-thumb.jpg" alt="Лицензии и награды 16">
                    </a>

                    <!-- Приморье -->
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/17.jpg">
                        <img src="./images/certificates/17-thumb.jpg" alt="Лицензии и награды 17">
                    </a>
                    <a data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="glightbox2"
                       data-gallery="gallery2" href="images/certificates/18.jpg">
                        <img src="./images/certificates/18-thumb.jpg" alt="Лицензии и награды 18">
                    </a>
                </div>

                <div class="certificates-logo">
                    <img src="./icons/logo-white.svg" alt="РДК ВОСТОК">
                </div>
            </div>
        </div>
    </section>

    <section id="clients">
        <div class="section-left-header">
            <div class="back-decor">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header">
                <div class="front-decor">
                    <span></span>
                    <span></span>
                </div>
                <h2>Клиенты</h2>
            </div>
        </div>

        <div class="container">
            <ul class="clients__list">
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.transneft.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/1.png" alt='ООО "Транснефть"'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="http://khnp.aoil.ru/index.php" target="_blank" rel="nofollow">
                        <img src="./images/clients/2.png" alt='ПАО «ННК-Хабаровскнефтепродукт»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.rzd.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/3.png" alt='ОАО «РЖД»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.sberbank.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/4.png" alt='ПАО «СБЕРБАНК»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.vtb.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/27.png" alt='ПАО «ВТБ»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.gazprombank.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/5.png" alt='АО «Газпромбанк»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.rosneft.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/6.png" alt='ПАО «РОСНЕФТЬ»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://gazdv.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/7.png" alt='АО «Газпром Дальний Восток»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://primocean.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/8.png" alt='Приморский Океанариум'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="http://www.kkco.khv.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/23.png" alt='Краевой Клинический Центр Онкологии'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.dvfu.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/9.png" alt='ДВФУ'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.lazomilk.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/10.png" alt='«Переяславский молочный завод»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.ecodomtc.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/11.png" alt='ТЦ «ЭКОДОМ»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://tkmaximall.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/12.png" alt='ТЦ «Максимолл»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://raz2va.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/13.png" alt='сеть магазинов «РазДва»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://sopka-restaurant.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/14.png" alt='ресторан «СОПКА»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://cafe-gosti.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/15.png" alt='кафе «Гости»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="http://www.merilen.com/" target="_blank" rel="nofollow">
                        <img src="./images/clients/16.png" alt='производство «Мерилен»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://vk.com/mnogoryadov" target="_blank" rel="nofollow">
                        <img src="./images/clients/24.png" alt='оптовый рынок «Многорядов»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.primorsky.ru/"
                       target="_blank" rel="nofollow">
                        <img src="./images/clients/26.png" alt='Правительства Приморского края'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.khabkrai.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/25.png" alt='Правительства Хабаровского края'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://www.mechel.ru/sector/mining/yakutugol/" target="_blank" rel="nofollow">
                        <img src="./images/clients/19.png" alt='АО «Якутуголь»'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="http://mil.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/20.png" alt='Министерство обороны РФ'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="http://www.fsb.ru/" target="_blank" rel="nofollow">
                        <img src="./images/clients/21.png" alt='ФСБ'>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <a href="https://xn--b1aew.xn--p1ai/" target="_blank" rel="nofollow">
                        <img src="./images/clients/22.png" alt='МВД'>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section id="separator">
        <div class="background"></div>

        <div class="container separator__content">
            <div class="logo" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <img src="./icons/logo.svg" alt="РДК ВОСТОК">
            </div>

            <p data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                Уже 10 лет мы выполняем свою работу на высшем уровне. <br>
                Нам доверяют как простые люди, так и крупные компании.
            </p>

            <div class="separator__actions" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <a href="#submit" class="btn btn-primary">Оставить заявку</a>
            </div>
        </div>

    </section>


    <section id="last">
        <div id="submit">
            <div class="content">
                <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="section-header">
                    <h2>Избавьтесь от вредителей раз и навсегда</h2>
                </div>

                <div class="section-content">
                    <form class="section-submit__form">
                        <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="field" data-field="name">
                            <input id="name" name="name" type="text" required placeholder="Как к Вам обращаться?">
                        </div>

                        <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="field" data-field="phone">
                            <input id="phone" name="phone" type="tel" required placeholder="Телефон">
                        </div>

                        <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="field" data-field="city">
                            <select id="city" name="city" required>
                                <option value="Хабаровск">Хабаровск</option>
                                <option value="Южно-Сахалинск">Южно-Сахалинск</option>
                                <option value="Владивосток">Владивосток</option>
                            </select>
                        </div>

                        <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="field"
                             data-field="comment">
                            <textarea id="comment" name="comment" placeholder="Комментарий"></textarea>
                        </div>

                        <button class="btn btn-primary" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="map">
            <div class="section-contacts__map">
                <ul class="section-contacts__map-tabs">
                    <li>
                        <strong>г. Хабаровск</strong>
                        <p style="border: none !important;">8 (4212) 68-82-88</p>
                        <p>пр. 60-летия октября, д. 239</p>
                    </li>
                    <li>
                        <strong>г. Южно-Сахалинск</strong>
                        <p style="border: none !important;">8 (4232) 98-68-68</p>
                        <p>ул. Ленина, д. 440-А, офис 22 на 2-ом этаже</p>
                    </li>
                    <li>
                        <strong>г. Владивосток</strong>
                        <p style="border: none !important;">8 (4242) 48-55-11</p>
                        <p>ул. Некрасовская, д. 36-Б, офис 503</p>
                    </li>
                </ul>
                <div class="section-contacts__map-frame">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2644.1374122363045!2d135.09725261566143!3d48.49225697925334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5efac1ffcd00597d%3A0x29e77589273c518b!2z0L_RgC4gNjAt0LvQtdGC0LjRjyDQntC60YLRj9Cx0YDRjywgMjM5LCDQpdCw0LHQsNGA0L7QstGB0LosINCl0LDQsdCw0YDQvtCy0YHQutC40Lkg0LrRgNCw0LksINCg0L7RgdGB0LjRjywgNjgwMDMw!5e0!3m2!1sru!2sua!4v1614944266568!5m2!1sru!2sua"
                            allowfullscreen="" loading="lazy"></iframe>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2725.1043820465525!2d142.73278091548286!3d46.9203296791451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f19a979743115bb%3A0xb83f302d6e20b8b!2z0YPQuy4g0JvQtdC90LjQvdCwLCA0NDDQsCwg0K7QttC90L4t0KHQsNGF0LDQu9C40L3RgdC6LCDQodCw0YXQsNC70LjQvdGB0LrQsNGPINC-0LHQuy4sINCg0L7RgdGB0LjRjywgNjkzMDA0!5e0!3m2!1sru!2sua!4v1614944614951!5m2!1sru!2sua"
                            allowfullscreen="" loading="lazy"></iframe>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2912.301699005825!2d131.90063431534807!3d43.11918797914323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fb3920c5fe8e565%3A0x31577656fc2095b8!2z0J3QtdC60YDQsNGB0L7QstGB0LrQsNGPINGD0LsuLCAzNtCxLCDQktC70LDQtNC40LLQvtGB0YLQvtC6LCDQn9GA0LjQvNC-0YDRgdC60LjQuSDQutGA0LDQuSwg0KDQvtGB0YHQuNGPLCA2OTAwMDE!5e0!3m2!1sru!2sua!4v1614944743943!5m2!1sru!2sua"
                            allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>

{{/../../components/layout/layout}}


