<header>
    <div class="container">
        <div class="header__top-part">
            <div class="logo">
                <img src="./icons/logo.svg" alt="РДК Восток - логотип">
            </div>

            <div class="actions">
                <div class="mobile-menu-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fullscreen-menu">
    <div class="container">
        <div class="header__top-part">
            <div class="logo">
                <img src="./icons/logo-dark.svg" alt="РДК Восток - логотип">
            </div>

            <div class="actions">
                <div class="mobile-menu-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="#services">Услуги и цены</a></li>
                <li><a href="#about">О компании</a></li>
                <li><a href="#certificates">Лицензии и награды</a></li>
                <li><a href="#clients">Клиенты</a></li>
                <li><a href="#map">Контакты</a></li>
                <li><a href="#submit">Оставить заявку</a></li>
            </ul>
        </nav>
    </div>
</div>
