<footer>

    <a href="https://www.instagram.com/rdkvostok/" target="_blank">
        {{> ../icons/instagram}}
    </a>
    <a href="https://www.youtube.com/channel/UCXcMtAj-prlzCF6MmdjzsrA" target="_blank">
        {{> ../icons/youtube}}
    </a>
    <a href="https://rdkvostok.ru/" target="_blank">{{> ../icons/www}}</a>
    <a href="mailto:rdkvostok@mail.ru">{{> ../icons/mail}}</a>
</footer>
